.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.btn {
  width: 85% !important;
  padding: 5px 10px 5px !important;
  line-height: 18px !important;
  color: #2F3941 !important;
  text-shadow: none !important;
  background-color: #ffffff !important;
  background-image: none !important;
  border: 1px solid #D8DCDE !important;
  box-shadow: none !important;
  white-space: nowrap;
}

.well {
  padding-top: 20px;
}

section, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

ul {
  margin-bottom: 0;
}

html {
  overflow: hidden !important;
}

body {
  overflow: hidden !important;
}